# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.AppSubcrition.iml
# Datasource local storage ignored files
/../../../../../../../../../:\asom\projects\core\AspNetCore_Projects\app_subcription\.idea\.idea.AppSubcrition\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
